html, body{
  height:100%;
  margin:0;
  min-height: 100%;
  color:white;
  font-size: 40px;
}

.container {
  background-image: url(./resources/polis.jpg) ;
  height:100%;
  width: 100%;
  text-align: center;
}
h1 {
    margin: 0;
    font-family: courier;
}
.button {
  padding: 10px 50px;
  font-size: 18px;
  font-family: courier;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  opacity: 10%;
  margin-top: 300px;
}
.button:hover{
  cursor:pointer;
}
.box {
  background: black;
}
.margin{
  padding-top:200px;
}
